<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="DevelopKey" value="F6F4B5FC-354A-4E53-86DB-66F0309CF72C"/>

		<add key="ApplicationTitle" value="千美千寻"/>
		<add key="VersionTitle" value="千美千寻"/>
		<add key="VirtualPath" value=""/>
	</appSettings>
	<connectionStrings>
		<add name="UMDataBase" connectionString="DataBase\UMS.mdb" providerName="Access"/>
		<add name="SystemToolsDataBase" connectionString="DataBase\UMS.mdb" providerName="Access"/>
		<add name="UserMessagesDataBase" connectionString="DataBase\UserMessage.mdb" providerName="Access"/>
		
		<add name="PMapDBDataBase" connectionString="server=qds20341775.my3w.com;uid=qds20341775;pwd=yunxi021;database=qds20341775_db" providerName="SQLServer"/>
		<!--<add name="PMapDBDataBase" connectionString="server=61.139.76.196;uid=vehicletracking;pwd=flzx3qc1syhl9t;database=gmap" providerName="SQLServer"/>-->
		<!--<add name="PMapDBDataBase" connectionString="DataBase\GM.mdb" providerName="Access"/>-->
	</connectionStrings>

				
  <system.web>
	 <httpRuntime requestValidationMode="2.0" />
	 <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
	
					
    <authentication mode="Forms">
      
    </authentication>

  </system.web>

</configuration>
